.card-profile-userID{
    width: 90%;
    height: 300px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 10px;
    padding: 30px;
    /*margin: 10px;*/
    /*padding: 15px;*/
    font-size: x-large;
    align-text: center;
    background: #EFE9E1 !important;
    font-family: Baskerville;
    color: black;
    place-items: center;

}
.card-profilecard-userID {
    width: 90%;

    margin-top: 100px;
    margin-left: 40px;
    margin-right: 10px;
    padding: 30px;
    /*margin: 10px;*/
    /*padding: 15px;*/
    font-size: x-large;
    align-text: center;
    background: #EFE9E1 !important;
    font-family: Baskerville;
    color: black;
    place-items: center;
}
.card-title-userID {
    align-content: center;
    background-color: #D1C7BD;
    margin-top: 10px;
    color: #322D29;
    width: 100%;
    padding: 5px;
}


@media screen and (max-width:720px) {
    /*CSS code for devices with a maximal width of 720 px - phone*/

    .btn-primary {
        width: 100%;
        background-color: darkred !important;
        margin-top: 10px;

        /*padding-left: 40px;*/
    }
}
