.card-profile {
    width: 90%;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 10px;
    padding: 30px;
    font-size: x-large;
    background: #EFE9E1 !important;
    font-family: Baskerville;
    color: black;
    place-items: center;
    border-radius: 10px;
}

.card-favourite {
    width: 90%;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    font-size: x-large;
    background: whitesmoke !important;
    font-family: Baskerville;
    color: black;
    place-items: center;
}

.card-profile-edit {
    width: 30%;
    height: 350px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 10px;
    padding: 30px;
    font-size: x-large;
    background: #EFE9E1 !important;
    font-family: Baskerville;
    color: black;
}

.list-group-item {
    font-size: large;
}

.card-title-profile {
    margin-bottom: 20px;
    background-color: #D1C7BD;
    color: #322D29;
    padding: 15px ;

    border-radius: 10px;
}

.edit-profile-btn {
    width: 20%;
    margin-left: -10px;
}

.update-profile-btn {
    width: 50%;
    margin-left: -10px;
}


.form-input{
    /*place-items: center !important;*/
    width: 15% !important;
}

.form-input-dd {
    width: 38% !important;
}

@media screen and (max-width:720px) {
    .card-profile-edit {
        width: 90%;
        height: 350px;
        margin-top: 100px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 30px;
        font-size: x-large;
        background: #EFE9E1 !important;
        font-family: Baskerville;
        color: black;
    }

    .form-input{
        /*place-items: center !important;*/
        width: 5% !important;
    }

    .edit-profile-btn {
        width: 90%;
    }

    .update-profile-btn {
        width: 90%;
        /*margin-left: -10px;*/
    }
}