.homesc-logo{
    width: 200px;
    height: 150px;
 /*padding:10px;*/
}
.iconLogo{
    margin-left: -90px;
}

.signout{
    background-color: black;
    color:white;
    border: none;
}
.navBar {
    /*// width:100%;*/
    float: right;
    /*//margin-bottom: 40px;*/
    margin-left: -150px;
    width: 90%
}


.navigationBar {
    margin: -20px;
    height: 85px;
    font-size:large;
    background-color: #A88D79;
}
.navbar-brand{
    font-size: 45px !important;
}

.headingLogo{

    margin-top: 20px;
    margin-left: -1px;
    padding-left: 10px;
    padding-right: 20px;
    align-content: center;
    font-family: fantasy,cursive;
    font-style: italic;

}

h6{
    color: white;
}

.me-auto {
    place-items: center;
    margin-top: 15px;
    font-size: large;
    margin-left: 700px;
}


@media screen and (max-width:720px) {
    /*CSS code for devices with a maximal width of 720 px - phone*/

    .iconLogo{
        margin-left: 10px;
    }

    .navBar {
        /*// width:100%;*/
        float: right;
        /*//margin-bottom: 40px;*/
        margin-left: -150px;
        width: 90%;
        background-color: #A88D79 !important ;

    }


    .me-auto {
        place-items: center;
        margin-top: 15px;
        font-size: large;
        margin-left: 700px;
        background-color: #A88D79 !important ;
    }
}
