.homesc-logo{
    width: 200px;
    height: 150px;
 /*padding:10px;*/
}
.iconLogo{
    margin-left: -90px;
}

.signout{
    background-color: black;
    color:white;
    border: none;
}
.navBar {
    /*// width:100%;*/
    float: right;
    /*//margin-bottom: 40px;*/
    margin-left: -70px;
    width: 90%
}


.navigationBar {
    margin: -20px;
    height: 85px;
    font-size:large;
    background-color: #A88D79;
}
.navbar-brand{
    font-size: 45px !important;
}

.headingLogo{

    margin-top: 20px;
    margin-left: -1px;
    padding-left: 10px;
    padding-right: 20px;
    align-content: center;
    font-family: fantasy,cursive;
    font-style: italic;

}

h6{
    color: white;
}

.me-auto {
    place-items: center;
    margin-top: 15px;
    font-size: large;
    margin-left: 170px;
}

.flex{
    margin-left: 150px;
}


@media screen and (max-width:720px) {
    /*CSS code for devices with a maximal width of 720 px - phone*/

    .iconLogo{
        margin-left: 10px;
    }

    .navBar {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #00BAF0;
        background: linear-gradient(to left, #f46b45, #eea849);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #FFF;
        height: 50px;
        padding: 1em;

    }

    .hamburger-menu Link{
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 100px !important;
        background-color: #A88D79 !important ;
        border: 5px solid beige !important;
    }


    .navbar-toggler Link{
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 100px !important;
        background-color: #A88D79 !important ;
        border: 5px solid beige !important;
    }

    .me-auto {
        margin-right: 50px;
        margin-top: 15px;
        font-size: medium;
        background-color: #A88D79 !important ;
    }
}
