.card-HouseDetails {
    width: 95%;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    /*margin: 10px;*/
    border-radius: 5px;
    padding: 30px;
    /* align-text: center; */
    background: #EFE9E1 !important;
    font-size: xx-large;
    font-family: Baskerville;
    color: black;
}

.card-title-HouseCard{
    place-content: center !important;
    background-color: #EFE9E1 !important;
    color: #322D29 !important;
    width: 100%;
}

.listingImage-card {
    width: 90%;
    height: 90%;
    /*margin: -20px;*/
    margin-left: 20px;
    border-radius: 10px;
    border-image-width: 2px;
    border: 5px solid beige;
}

.backbutton {
    background: linear-gradient(135deg, #A88D79 40%, #BEA79D);
    width: 65px;
    height:40px;
    color:white;
    align-content: center;
    margin-left: 100px;
}

.houseLink {
    color: dimgray !important;
    text-decoration: none;
}

houseLink:hover {
    color:dimgrey;
    text-decoration:none;
    cursor:pointer;
}

@media screen and (max-width:720px) {
    /*CSS code for devices with a maximal width of 720 px - phone*/

    .listingImage-card {
        width: 100%;
        height: 100%;
        margin: -20px;
        margin-left: 20px;
        border-radius: 10px;
        border-image-width: 2px;
        border: 5px solid beige;
    }

    .card-title-HouseCard{
        margin-left: 30px;
        place-content: center !important;
        background-color: #EFE9E1 !important;
        color: #322D29 !important;
        width: 100%;
    }
}