.card-HouseDetails {
    width: 95%;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    /*margin: 10px;*/
    border-radius: 5px;
    padding: 30px;
    /* align-text: center; */
    background: #EFE9E1 !important;
    font-size: xxx-large;
    font-family: Baskerville;
    color: black;
}


.listingImage {
    width: 80%;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 30px;
    border-image-width: 2px;
    border-color: black;
}

.card-title-House{
    align-content: center;
    background-color: #D1C7BD;
    color: #322D29;
    width: 100%;
    padding: 20px;
}



.backbutton {
    background-color: darkred !important;
    width: 65px;
    height:40px;
    color:white;
    align-content: center;
    margin-top: 10px;
    margin-left: 100px;
}

.backbutton:hover{

    border: 5px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}

.iconFav {

    width: 10%;
    margin-left: 50px;
    place-content: flex-end;
}

.list-group-flush-house li{
    font-size: medium;
    margin-left: 20px;
    width: 100%;
}

.list-group {
    margin: 10px;
}

.btn-primary {
    background-color: darkred !important;
    margin-top: 10px;
    margin-left: 30px;
    /*padding-left: 40px;*/
}


.houses-fav-book {
    margin-left: 10px;
    place-content: center;
}

@media screen and (max-width:720px) {
    /*CSS code for devices with a maximal width of 720 px - phone*/
    .card-HouseDetails {
        width: 95%;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        /*margin: 10px;*/
        border-radius: 5px;
        padding: 30px;
        /* align-text: center; */
        background: #EFE9E1 !important;
        font-size: large;
        font-family: Baskerville;
        color: black;
    }
    .list-group-flush-house li{
        font-size: medium;
        width: 100%;
    }

    .card-title-House{
        align-content: center;
        background-color: #D1C7BD;
        color: #322D29;
        width: 100%;
        /*padding: 20px;*/
    }

    .btn-primary {
        width: 50%;
        background-color: darkred !important;
        margin-top: 10px;
        margin-left: 50px;
        /*padding-left: 40px;*/
    }
}

