


.buyerListingbody{
    padding:30px;
    margin: 40px;
    border-radius: 20px;
    /*background: linear-gradient(135deg, whitesmoke 40%, peachpuff);*/
    background-color: #EFE9E1;
}
.listingImage {
    width: 90%;
    border-radius: 5px;
    margin-top: 10px;
    border-image-width: 2px;
    border-color: black;
}

.listingName {
    padding-top: 30px;
    padding-left: 50px;
    font-size: xxx-large;
    /*border-radius: 20px;*/
    margin-left: -30px;
    margin-right: -5px;
    margin-bottom: 20px;
    width : 1520px;
    /*width: 100%;*/
    font-family: Baskerville;
    background-color: #D1C7BD;
    color: #322D29;
}
.buyerListingbox1{
    /*background-color: #747267;*/

    text-align: left;
}

.buyerListingbox2 li{
    font-family: Baskerville;
    font-size: 25px;
    /*font-size: large;*/
    display: grid;

}

.buyerListingbox2{
    text-align: left;
}

.buyerListingdivide {
    z-index:1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: left;
    align-items: center;
}

.buyerListinggrids{
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, 20rem);

}


.backbutton {
    background-color: darkred !important;
    width: 65px;
    height:40px;
    color:white;
    align-content: center;
    margin-left: 100px;
}

.backbutton:hover{

    border: 5px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}

.iconFav {
    padding-top: 30px;
    width: 10%;
    place-content: flex-end;
}

.list-group-flush-house li{
    font-size: medium;
    width: 220%;
}

