.authbody {
    display: grid;
    place-items: center;
    height: 40vh;
    font-size: x-large;
    color: black;
}

.change-signup:hover {
    color: gray;
}

.change-signup {
    cursor: pointer;
    text-decoration: underline;
}

.card-body-login {
    place-items: center;
    width: 55vh !important;
    height: 60%;
    border-radius: 20px;
    align-text: center;
    background: #EFE9E1 !important;
    font-family: Baskerville;
    color: black;
}

.login-button {
    width: 30%;
    height: 10%;
    font-size: x-large !important;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}