.card-title-House{
    align-content: center;
    background-color: #D1C7BD;
    color: #322D29;
    width: 100%;
    padding: 20px;
}

.card-HouseDetails {
    width: 95%;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    /*margin: 10px;*/
    border-radius: 5px;
    padding: 30px;
    /* align-text: center; */
    background-color: #EFE9E1 !important;
    font-size: xxx-large;
    font-family: Baskerville;
    color: black;
}